@import '../variables.scss';

.blog{
    font-family: 'Kadwa', sans-serif;
    background: $light;
    height: 400px;
    .blog-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: $secondary-text;
        font-size: 64px;
        font-weight: 700;
        line-height: 133.781%; 
        letter-spacing: -0.32px;
    }
    .blog-subtitle{
        display: flex;
        flex-direction: row;
        width: 913px;
        margin: 0 auto;
        padding-top: 15px;
        color: $dark-text;
        font-size: 20px;
        font-weight: 400;
        line-height: 133.781%; 
        letter-spacing: -0.1px;
    }
}