@import '../variables.scss';
@import './section-products.scss';

.section-sale{
    font-family: 'Kadwa', sans-serif;
    background: $secondary;
    padding-bottom: 165px;
    .products-row{
        @extend %display-flex-row;
        justify-content: space-between;
        padding-top: 158px;
    }
    .product-text{
        display: flex;
        .product-text-l{
            color: $light-text;
            font-size: 64px;
            font-weight: 700;
            line-height: 133.781%; 
            letter-spacing: -0.32px;
        }
    }
    .btn-pruducts{
        border-radius: 9px;
        background: $primary;
        .btn-pruducts-bottom{
            @extend %display-flex-row;
            align-items: center;
            padding: 25px 46px 16px 47px;
            cursor: pointer;
            .btn-pruduct-text{
                color: $secondary-text;
                font-size: 32px;
                font-weight: 700;
                line-height: 133.781%; 
                letter-spacing: 3.52px;
            }
            .btn-next-intro{
                padding-left: 37px;
            }
        }
    }
    .container-card-menu{
        @extend %display-flex-row;
        flex-wrap: wrap;
        gap: 36px;
        margin-top: 65px;
        margin-bottom: 24px;
        .card-menu {
            border-radius: 10px;
            border: 2px solid $light;
            .like-card-menu {
                @extend %display-flex-row;
                justify-content: flex-end;
                padding-right: 44px;
                padding-top: 37px;
                .heart-no-active{
                    cursor: pointer;
                }
            }
           .fruits{
            @extend %fruits;
               .img-menu{
                padding-bottom: 38px;
               }
               .img-menu-juice{
                padding-bottom: 7px;
               }
               .img-menu-lemon{
                padding-bottom: 64px;
               }
           }
            
            // text card fructs
           .card-menu-oushen{
            @extend %card-menu-oushen;
                .menu-oushen-text{
                    color: $light-text;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 133.781%; 
                    letter-spacing: 2.64px;
                }
                .menu-oushen-subtext{
                    color: $light-text;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 133.781%; 
                    letter-spacing: 3.96px;
                }
            }
            // star (Звезды оценка)
            .star{
                @extend %display-flex-row;  
                gap: 9px;
                align-items: center;
                padding-top: 9px;
                padding-left: 27px;
                .star-no-active-text{
                    color: $light-text;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 133.781%; 
                    letter-spacing: 1.76px;
                    margin-bottom: -7px;
                }
                .stars-btn{
                    cursor: pointer;
                }
            }
            // star (Звезды оценка)
            // Прайс
            .price{
                @extend %display-flex-row; 
                padding-right: 52px;
                padding-left: 27px;
                padding-top: 16px;
                
                .price-row{
                    @extend %display-flex-row;
                    align-items: center;
                    gap: 10px;
                    .price-title{
                        color: $light-text;
                    }
                    .price-subtitle{
                        color: $light-text;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 133.781%; 
                        letter-spacing: 1.76px;
                    }
                }
                .price-outdated{
                    @extend %display-flex-row;
                    padding-left: 34px;
                    align-items: center;
                    gap: 20px;
                    .price-outdated-title{
                        color: $light-text;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 133.781%; 
                        letter-spacing: 2.64px;
                        text-decoration-line:line-through;
                    }
                    .price-outdated-subtitle{
                        color: $light-text;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 133.781%; 
                        letter-spacing: 1.76px;
                        text-decoration-line:line-through;
                    }
                }
            }
            // size and quantity
            .size-title-quantity{
                @extend %display-flex-row;
                justify-content: space-between;
                padding-top: 32px;
                padding-left: 27px;
                padding-right: 116px;
                .size-title{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 133.781%; 
                    letter-spacing: 1.76px;
                    color: $light-text;
                }
                .quantity-title{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 133.781%; 
                    letter-spacing: 1.76px;
                    color: $light-text
                }
            }
            .btn-cotigori{
                @extend %display-flex-row;
                padding-top: 10px;
                padding-left: 27px;
                gap: 20px;
                .btn-kg{
                    padding: 10px 13px 9px 13px;
                    border-radius: 10px;
                    border: 1px solid $light-text;
                    .content-cotigori{
                        @extend %display-flex-row;
                        align-items: center;
                        .btn-number-kg{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 133.781%; 
                            letter-spacing: 2.2px;
                            color: $light-text;
                        }
                        .secanda-kg{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 133.781%; 
                            letter-spacing: 2.2px;
                            color: $light-text;
                            padding-left: 90px;
                        }
                        .secanda-kg-litre{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 133.781%;
                            letter-spacing: 2.2px;
                            color: $light-text;
                            padding-left: 32px;
                        }
                        .next-down{
                            padding-left: 10px;
                            color: $light-text;
                            cursor: pointer;
                        }
                    }
                }
                .quantity{
                    padding: 8px 6px 8px 6px;
                    border-radius: 10px;
                    border: 1px solid $light-text;
                    .minus{
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 133.781%; 
                        letter-spacing: 2.2px;
                        font-weight: 400;
                        color: $light-text;
                        cursor: pointer;
                    }
                    .quantity-text{
                        font-weight: 400;
                        font-size: 20px;
                        color: $light-text;
                        line-height: 133.781%; 
                        letter-spacing: 2.2px;
                        padding-left: 36px;
                        padding-right: 36px;
                    }
                    .plus{
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 133.781%; 
                        letter-spacing: 2.2px;
                        font-weight: 400;
                        color: $light-text;
                        cursor: pointer;
                    }
                }
            }
            .add-card{
                @extend %display-flex-row;
                padding-top:24px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 20px
            }
            .add-card-litre{
                @extend %display-flex-row;
                padding-top:18px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 20px
            }
            .add{
                @extend %display-flex-row;
                border-radius: 9px;
                background: $primary;
                padding: 12px 108px;
                cursor: pointer;
                .add-card-content{
                    @extend %display-flex-row;
                    align-items: center;
                }
                .add-card-title{
                    color: $light-text;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 133.781%; 
                    letter-spacing: 2.64px;
                }
                .next-add{
                    padding-left: 20px;
                }
            }
        }
    }
}