// background
$primary: #FFBE30;
$secondary: #173334;
$light: #fff;
$success: #ED719C;
$warning: #FEDD72;
$danger: #ACC43D;
$medium: #CB9B69;

// background

// colors
$dark-text:#000;
$light-text: #ffffff;
$secondary-text: #173334;
$secondary-opaciti:rgba(23, 51, 52, 0.52);
// var let : 1;
feColorMatrix {
    color: $dark-text;
    font-size: 22px;
}
// colors

  