* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.section-products {
  font-family: "Kadwa", sans-serif;
  background: #fff;
  margin-bottom: 120px;
}
.section-products .products-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 129px;
}
.section-products .product-text {
  display: flex;
}
.section-products .product-text .product-text-l {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 133.781%;
  letter-spacing: -0.32px;
}
.section-products .btn-pruducts {
  border-radius: 9px;
  background: #FFBE30;
}
.section-products .btn-pruducts .btn-pruducts-bottom {
  display: flex;
  align-items: center;
  padding: 25px 46px 16px 47px;
  cursor: pointer;
}
.section-products .btn-pruducts .btn-pruducts-bottom .btn-pruduct-text {
  color: #173334;
  font-size: 32px;
  font-weight: 700;
  line-height: 133.781%;
  letter-spacing: 3.52px;
}
.section-products .btn-pruducts .btn-pruducts-bottom .btn-next-intro {
  padding-left: 37px;
}
.section-products .products-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 13px;
  margin-top: 67px;
  padding-bottom: 169px;
}
.section-products .card-layout {
  width: 345px;
  height: 345px;
  z-index: 1;
}
.section-products .card-layout .card-layout-p {
  padding-left: 13px;
  padding-right: 12px;
}
.section-products .card-layout .card-img {
  position: absolute;
  z-index: -1;
}
.section-products .card-layout .card-layout-title {
  padding-top: 129px;
  display: flex;
  color: #FFBE30;
  font-size: 32px;
  font-weight: 700;
  line-height: 133.781%;
  letter-spacing: -0.16px;
}
.section-products .card-layout .card-layout-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 106.281%;
  letter-spacing: -0.12px;
  padding-top: 5px;
}
.section-products .card-layout .btn-card-layout {
  display: inline-block;
  border-radius: 9px;
  background: #FFBE30;
  margin-top: 29px;
}
.section-products .card-layout .btn-card-layout .btn-cards {
  display: flex;
  align-items: center;
  padding: 19px 32px;
  cursor: pointer;
}
.section-products .card-layout .btn-card-layout .btn-card {
  color: rgba(23, 51, 52, 0.52);
  font-size: 20px;
  font-weight: 700;
  line-height: 133.781%;
  letter-spacing: 2.2px;
  border-radius: 9px;
}
.section-products .card-layout .btn-card-layout .next-mal {
  padding-left: 37px;
}
.section-products .two-card-section {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-top: 68px;
}
.section-products .products-row-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-products .container-card-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38px;
  margin-top: 65px;
}
.section-products .container-card-menu .card-menu {
  width: 444px;
  height: 716px;
  border-radius: 10px;
  border: 2px solid #000;
}
.section-products .container-card-menu .card-menu .like-card-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 44px;
  padding-top: 37px;
}
.section-products .container-card-menu .card-menu .like-card-menu .heart-no-active {
  cursor: pointer;
}
.section-products .container-card-menu .card-menu .fruits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-products .container-card-menu .card-menu .fruits .img-menu {
  padding-bottom: 38px;
}
.section-products .container-card-menu .card-menu .fruits .img-menu-juice {
  padding-bottom: 7px;
}
.section-products .container-card-menu .card-menu .fruits .img-menu-lemon {
  padding-bottom: 64px;
}
.section-products .container-card-menu .card-menu .card-menu-oushen {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 27px;
}
.section-products .container-card-menu .card-menu .card-menu-oushen .menu-oushen-text {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.781%; /* 32.108px */
  letter-spacing: 2.64px;
}
.section-products .container-card-menu .card-menu .card-menu-oushen .menu-oushen-subtext {
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 133.781%; /* 48.161px */
  letter-spacing: 3.96px;
}

/*# sourceMappingURL=section-products.css.map */
